service perfmonitord /system/bin/perfmonitord
    user root
    group system
    class main

on post-fs
    insmod /system/lib/modules/perfinfo.ko
    chown root system /proc/perfinfo
    chmod 0660 /proc/perfinfo
