on init
    # Adjust minimum free memory space to 16M (same as Normal boot during init only)
    write /proc/sys/vm/min_free_kbytes 16384
on fs
    wait /dev/block/platform
    symlink /dev/block/platform/soc /dev/block/platform/mtk-msdc.0
# This is for preloader update
on fs
    write /sys/block/mmcblk0boot0/force_ro 0
    write sys/devices/platform/leds-mt65xx/leds/lcd-backlight/brightness 30
